@font-face {
  font-family: 'song';
  src:url('../fonts/song.ttf')
}
@font-face {
  font-family: 'kai';
  src:url('../fonts/hwkt.ttf')
}
@font-face {
  font-family: 'wei_black';
  src:url('../fonts/wryh.ttf')
}
@font-face {
  font-family: 'black';
  src:url('../fonts/black.ttf')
}
